*, ::before, ::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --dark-color: #007f86;
    --light-color: #96E4E7;
    --text-color: #EEE;
}
body{
    font-family: 'Sansita Swashed', cursive;
   
}
/* !nav starts from here */
.nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 2;
}


nav li{
    list-style-type: none;
}


.logo-img{
    align-self: flex-start;
    background-image: url(images/logo.jpg);
    background-repeat: none;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.list-of-links{
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    margin-inline-start: auto;
    visibility: hidden;
}
.show{
    visibility: visible;
}


.list-of-links .link{
    text-decoration: none;
    color: blue;
    text-transform: uppercase;
    font-size: 1rem;
    border: 2px solid var(--light-color);
    text-align: center;
    width: 50%;
    padding:  0.5em;
    border-radius: 100px;
    background-color: var(--text-color);
    
}


.menu-bar{
    position: absolute;
    top: 1rem;
    right: 1em;
    border: 3px solid rebeccapurple;
    /* padding: 3em; */
}

.menu-bar .bar{
    background: var(--text-color);
    padding:  0.1rem 0.7rem;
    display: block;
    margin-block-start: 0.2em;
}

.first-bar{
    top: 20px;
    transform: rotate(40deg) translate(10%, 120%);
    /* transform: translate(200%); */
}
.second-bar{
    visibility: hidden;
}
.third-bar{
    transform: rotate(140deg) translate(-20%, 180%);
    top: 2em;
    left: 2rem;

}


/* !hero-section starts from here */
.hero{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.hero p{
    color: var(--text-color);
    text-transform: capitalize;
    font-weight: bolder;
    font-size: 2rem;
    display: none;
    text-align: center;
}

.video-bg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}
/* !hero-section ends here */

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ (about) */

/* !ABOUT STARTS FROM HERE */
.hero-about{
    height: 90vh;
    background: url(images/image07.jpg), rgba(128, 2, 254, 0.6);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-about .title-about{
    padding: 45vh 0;
    color: var(--text-color);
    font-size: 2em;
    text-align: center;

}



.all-about{
    background: url(images/image06.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.all-about .about-title{
    text-align: center;
    font-weight: bolder;
    text-transform: capitalize;
    padding: 0.5em;
}

.all-about .about-content{
    width: 80%;
    max-width: 900px;
    font-size: 2rem;
    padding: 1em 0.5em;
    letter-spacing: 1px;
    line-height: 6.5vh;
    margin-left: auto;
    color: var(--text-color);
    background: rgba(214, 150, 50, 0.3);
}

/* !Abouto-section starts from here */
.container{
    width: 90%;
    margin: 0 auto;
}

.pastor-about{
    background: rgba(28, 238, 238, 0.2);
    padding: 2rem;
}

.pastor-image{
    height: 100vh;
    background: url(images/img-4.jpg), rgba(28, 238, 238, 0.2);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-blend-mode: hue;
}

/* media-queries starts from here */
@media (min-width: 600px){

    .container{
        width: 80%;
        max-width: 600px;
    }
    /* navigation stars from here */
    .nav{
        justify-content: center;
        align-items: center;
        padding: 1em;
    }
    .list-of-links{
        flex-direction: row;
        align-items: flex-start;
        gap: 0.6rem;
        background: none;
        margin-inline-end: 3rem;
        visibility: visible;
        /* border: 2px solid red; */
    }

    .list-of-links .link{
        width: auto;
        padding: 0.4em 1em;
    }

    .church-logo{
        font-size: 1.3rem;
    }

    .menu-bar{
        visibility: hidden;
    }

    .hero p{
        display: block;
    }

    /* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
    $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$(about starts) */
    /* !ABOUT STARTS FROM HERE */
    .pastor-about{
        display: flex;
        flex-direction: row-reverse;
        gap: 2rem;
        background: rgba(28, 238, 238, 0.2);
    }

    .pastor-image{
        width: 60%;
        height: auto;
    }

    /* !ABOUT ENDS HERE */
}
/* media-queries ends here */